*{
    margin: 0;
    padding: 0;
}

:root{
    --text-color: #252B42;
    --blue-color: #00A0C1;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #737373;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    font-size: 14px;
    color: #737373;
}

.header{
    margin: 0 auto;
    background: url('img/background.png') no-repeat;
    width: 1440px;
    height: 794px;
}

.navigation{
    display: flex;
    padding-top: 40px;
}

.logo{
    margin-left: 195px;
    font-weight: 700px;
    font-size: 24px;
    color: var(--text-color);
}

.nav-item{
    font-weight: 600px;
    margin-right: 20px;
}

.nav-item :hover{
    color: var(--text-color);
}

.nav{
    display: flex;
    margin-left: 116px;
    padding-top: 6px;
}

.burger-menu{
    margin-left: auto;
    margin-right: 60px;
}

h1{
    font-weight: 800px;
    font-size: 58px;
    color: var(--text-color);
    margin-left: 195px;
    margin-top: 120px;
}

h2{
    font-weight: 700px;
    font-size: 40px;
    color: var(--text-color);
}

.header-text{
    margin-left: 195px;
    font-size: 20px;
    margin-top: 40px;
}

.buttons{
    margin-left: 195px;
    margin-top: 40px;
    display: flex;
}

.button button{
    border: 1px solid var(--blue-color);
    border-radius: 10rem;
    width: 157px;
    height: 48px;
    color: var(--blue-color);
    margin-left: 10px;
    font-weight: 700px;
}

.button button:hover{
    border: none;
    width: 187px;
    background-color: #FFA62B;
    color: #FFFFFF;
}

.cards{
    margin-left: 195px;
    margin-top: 80px;
    display: flex;
    gap: 30px;
}

.card{
    width: 330px;
    height: 210px;
}

.card *{
    margin-left: 40px;
}

.card div{
    width: 48px;
    height: 48px;
}

.card-title{
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card .briefcase{
    margin-top: 35px;
    background: url('img/briefcase.svg') no-repeat;
}

.card .shop{
    margin-top: 35px;
    background: url('img/shop.svg') no-repeat;
}

.card .book{
    margin-top: 35px;
    background: url('img/book-blue.svg') no-repeat;
}

.card:hover{
    background-color: #00A0C1;
}

.card:hover h3{
    color: #FFFFFF;
}

.card:hover p{
    color: #FFFFFF;
}

.card:hover .briefcase{
    background: url('img/briefcase-white.svg') no-repeat;
}

.card:hover .shop{
    background: url('img/shop-white.svg') no-repeat;
}

.card:hover .book{
    background: url('img/book.svg') no-repeat;
}

section{
    margin: 200px auto 0;
    width: 1440px;
}

.statistic p, .advices p{
    margin-top: 15px;
}

section *{
    text-align: center;
}

.statistic-list{
    display: flex;
    gap: 30px;
    margin: 50px auto 0;
    margin-left: 195px;
}

.statistic-element img{
    margin-top: 30px;
}

.statistic-element{
    width: 240px;
}

.statistic-element h2{
    margin-top: 15px;
}

.statistic-element p{
    margin-top: 15px;
    font-weight: 700px;
    font-size: 16px;
}

.advices-list{
    margin-top: 75px;
    display: flex;
    gap: 30px;
    margin-left: 195px;
}

.advices-element{
    width: 230px;
}

.advices-element p{
    margin: 15px 30px 30px 30px;
    text-align: left;
}

.advices-element h3{
    color: var(--text-color);
    font-weight: 700px;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: left;
}



